.container-select {
    text-align: center;
    margin: auto;
    border: solid 1px #212529;
    border-radius: 10px;
    background-color: white;
    width: 900px;
    margin-top: 10px;
}

.container-button {
    margin: 20px;
    text-align: center;
}

.container-data {
    text-align: center;
    margin: auto;
    border: solid 1px #212529;
    border-radius: 10px;
    background-color: white;
    width: 900px;
    margin-top: 10px;
}

.container-posts {
    border: 1px solid;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;     
    text-align: center;
}

.subContainer-posts {
    /* margin: 20px; */
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;  
}

.subContainer-img {
    margin: 5px;
}

.container-head {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Alinea verticalmente los elementos */
    padding: 10px; /* Opcional, para darle algo de espacio */
  }
  
  .title {
    text-align: center;
    flex-grow: 1; /* Esto permite que el título ocupe todo el espacio posible */
  }
  